 <!--top start here -->
 <div class="top">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <ul class="list-inline icon">
                    <li>
                        <!--language code start here-->
                        <form enctype="multipart/form-data" id="language">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span class="text"><i class="la la-language"></i>Việt Nam</span> <i class="la la-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="p-0"><a href="javascript:;"><img class="flag" src="assets/images/flag-vi.png" alt="vietnamese" title="vietnamese">Việt Nam</a></li>
                                    <li class="p-0"><a href="javascript:;"><img class="flag" src="assets/images/flag-en.jpg" alt="english" title="english">English</a></li>
                                </ul>
                            </div>
                        </form>
                        <!--language code end here-->
                    </li>
                    <li><a (click)="openLoginDialog()"><i class="la la-plus-square"></i><span>Đăng nhập</span></a></li>
                    <li><a (click)="openRegisterDialog()"><i class="la la-key"></i><span>Đăng ký</span></a></li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="topnav responsive" id="myTopnav">
                    <ul class="list-inline">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Home</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a>Homepage</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a>About</a></li>
                        <li class="dropdown"><a data-toggle="dropdown" href="#">Blog</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a>Our Blog</a></li>
                                        <li><a>Blog Detail</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a>Contact</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a>FAQ</a></li>
                                        <li><a>Dashboard</a></li>
                                        <li><a>Pricing Plans</a></li>
                                        <li><a> All Ads</a></li>
                                        <li><a>Ads Single View</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a>Term &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--top end here -->

<!-- header start here-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div id="logo">
                    <a href="#"><img class="img-fluid logochange" src="assets/images/logo.png" alt="logo" title="logo"></a>
                </div>
            </div>
                
            <div class="col-md-7 col-sm-7 col-xs-12">
                <form class="form-horizontal category" method="post">
                    <div class="row">
                        <div class="col-sm-3 paddright">
                            <div class="form-group">
                                <select class="selectpicker form-control bs-select-hidden" name="location">
                                    <option value="0">Chọn địa điểm</option>
                                    <option *ngFor="let item of locations" [value]="item.id">{{ item.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 paddright">
                            <div class="form-group">
                                <select class="selectpicker form-control bs-select-hidden" name="position">
                                    <option value="0">Chọn chức vụ</option>
                                    <option value="0">Vehicle</option>
                                    <option value="0">Mobiles</option>
                                    <option value="0">Electonics</option>
                                    <option value="0">Real Estate</option>
                                    <option value="0">Fashion</option>
                                    <option value="0">Furniture</option>
                                    <option value="0">Jobs</option>
                                    <option value="0">Services</option>
                                    <option value="0">Pets</option>
                                    <option value="0">Education</option>
                                    <option value="0">Matrimony</option>
                                    <option value="0">Note and Coins</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 search">
                            <div class="form-group">
                                <input name="s" value="" class="form-control" placeholder="Enter Keyword" type="text">
                                <button type="submit" value="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 center">
                <button class="btn-primary btn-block" type="button"> <i class="la la-edit"></i>Add listing</button>
            </div>
        </div>
    </div>
</header>
<!-- header end here -->