 <!--top start here -->
 <div class="top">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <ul class="list-inline icon">
                    <li>
                        <!--language code start here-->
                        <form enctype="multipart/form-data" id="language">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span class="text"><i class="la la-language"></i>Việt Nam</span> <i class="la la-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="p-0"><a href="javascript:;"><img class="flag" src="assets/images/flag-vi.png" alt="vietnamese" title="vietnamese">Việt Nam</a></li>
                                    <li class="p-0"><a href="javascript:;"><img class="flag" src="assets/images/flag-en.jpg" alt="english" title="english">English</a></li>
                                </ul>
                            </div>
                        </form>
                        <!--language code end here-->
                    </li>
                    <li *ngIf="!authService.loggedIn()"><a style="cursor: pointer;" (click)="openLoginDialog()"><i class="la la-plus-square"></i><span>Đăng nhập</span></a></li>
                    <li *ngIf="!authService.loggedIn()"><a style="cursor: pointer;"  (click)="openRegisterDialog()"><i class="la la-key"></i><span>Đăng ký</span></a></li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="topnav responsive" id="myTopnav">
                    <ul class="list-inline">
                        <li>
                            <a [routerLink]="['/home']">Việc làm IT</a>
                        </li>
                       
                        <li *ngIf="authService.loggedIn()" class="dropdown avatar">
                            <a data-toggle="dropdown" href="#">
                                <img class="icon-avatar" src="/assets/images/profile.png" alt="avatar" title="avatar">
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                Account
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a [routerLink]="['/candidate/profile']" routerLinkActive="link-active" ><img src="/assets/images/profile.png" alt="image" width="25" height="25"> Tài khoản</a></li>
                                        <li><a><img src="/assets/images/change-password.png" alt="image" width="25" height="25"> Đổi mật khẩu</a></li>
                                        <li><a><img src="/assets/images/save.jpg" alt="image" style="margin-left: -4px;" width="30" height="25"> Đã lưu</a></li>
                                        <li><a><img src="/assets/images/applied.jpg" alt="image" width="25" height="25"> Đã ứng tuyển</a></li>
                                        <li><a style="cursor: pointer;" (click)="authService.logoutUser()"><img src="/assets/images/logout.png" alt="image" style="margin-left: 4px;" width="20" height="20"> Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--top end here -->

<!-- header start here-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div id="logo">
                    <a href="#"><img class="img-fluid logochange" src="assets/images/logo.png" alt="logo" title="logo"></a>
                </div>
            </div>
                
            <div class="col-md-7 col-sm-7 col-xs-12">
                <form class="form-horizontal category">
                    <div class="row">
                        <div class="col-sm-3 paddright">
                            <div class="form-group">
                                <select class="selectpicker form-control bs-select-hidden" name="location">
                                    <option value="0">Chọn địa điểm</option>
                                    <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3 paddright">
                            <div class="form-group">
                                <select class="selectpicker form-control bs-select-hidden" name="position">
                                    <option value="0">Chọn chức vụ</option>
                                    <option value="0">Vehicle</option>
                                    <option value="0">Mobiles</option>
                                    <option value="0">Electonics</option>
                                    <option value="0">Real Estate</option>
                                    <option value="0">Fashion</option>
                                    <option value="0">Furniture</option>
                                    <option value="0">Jobs</option>
                                    <option value="0">Services</option>
                                    <option value="0">Pets</option>
                                    <option value="0">Education</option>
                                    <option value="0">Matrimony</option>
                                    <option value="0">Note and Coins</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 search">
                            <div class="form-group">
                                <input name="s" value="" class="form-control" placeholder="Enter Keyword" type="text">
                                <button type="submit" value="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 center">
                <button class="btn-primary btn-block" type="button"> <i class="la la-edit"></i>Đăng tin</button>
            </div>
        </div>
    </div>
</header>
<!-- header end here -->