<div class="container">
    <div class="page-content">
      <div class="col-xl-12 process-bar">
          <div class="row post-step">
              <div class="col-xs-4 post-step-step active">
                  <div class="progress">
                      <div class="progress-bar"></div>
                  </div>
                  <a class="post-step-num">1</a>
                  <div class="post-step-info text-center">Tạo tin</div>
              </div>
              <div class="col-xs-4 post-step-step active">
                  <div class="progress">
                      <div class="progress-bar"></div>
                  </div>
                  <a class="post-step-num">2</a>
                  <div class="post-step-info text-center">Kiểm tra lại</div>
              </div>
              <div class="col-xs-4 post-step-step active">
                  <div class="progress">
                      <div class="progress-bar"></div>
                  </div>
                  <a class="post-step-num">3</a>
                  <div class="post-step-info text-center">Hoàn tất</div>
              </div>
          </div>
      </div>
      <div class="col-xl-12 page-inner">
        <div class="alert alert-success" style="margin-top: 3rem; height: 15rem; padding-top: 45px;">
            <i class="fa fa-check"></i>
            Cảm ơn bạn đã đăng tin miễn phí lên Hệ thống.
            Tin của bạn sẽ được duyệt trong vòng 1h (giờ hành chính).
            Vui lòng đăng nhập để biết tin được duyệt hay không được duyệt.
        </div>
      </div>
    </div>
  </div>
  