<!-- footer start here -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 matter">
                <img src="assets/images/logo.png" class="img-fluid logochange" alt="logo" title="logo">
                <p class="text-wrap text-break">
                    Hãy tham gia đăng ký thông tin hồ sơ của bạn tại Database ứng viên IT của chúng tôi. Chỉ với vài cái nhấp chuột đơn giản để đăng hồ sơ của bạn và tham gia ứng tuyển vào những vị trí phù hợp.
                </p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 info">
                <h5>Chức năng</h5>
                <ul class="list-inline links">
                    <li><a>Mô Tả Công Việc IT</a></li>
                    <li><a>Tài Khoản</a></li>
                    <li><a>Hồ Sơ Của Tôi</a></li>
                    <li><a>Đăng tin tuyển dụng</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5>Liên hệ</h5>
                <ul class="list-inline social">
                    <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- footer end here -->