.left {
    margin-right: -7px;
}

.left .category ul li {
    padding: 0 !important;
    line-height: 0!important;
}

.left .category ul li img {
    float: none !important;
}

.left .category ul li a {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}

.left .category ul li:hover {
    background: #c5ffe7;
}

.active-item-category {
    background: #c5ffe7;
}

.left-fixed {
    position: fixed;
    top: 20px;
    width: 20%;
}

.left .category {
    background: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.left .category h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    padding: 10px 20px;
    border-bottom: 1px solid #E5E5E5;
    color: #313e46;
    line-height: 18px;
    background: linear-gradient(#fff -50%, #fed700 100%, #fff 150%);
}

.main-content {
    background-color: #fff;
    padding: 20px 0;
    margin: 10px 0;
}

.row-action {
    width: 20px;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

.section-body {
    border: 1px solid #E5E5E5;
    padding: 10px 20px;
    border-radius: 5px;
}