#cv-layout-viewer {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}

#header-viewer {
    width: 100%;
    margin: 0 auto;
    top: 0;
    background-color: rgba(0,0,0,.5);
    height: 50px;
    z-index: 10000;
    box-shadow: 0 0 4px rgba(0,0,0,.6);
}

#header-viewer h1 {
    float: left;
    color: #fff;
    padding: 12px 0 0 20px;
    font-size: 15px;
    font-weight: 500;
}

#header-viewer .btn-download-cv {
    float: right;
    background: 0 0;
    color: #ccc;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#header-viewer .btn-download-cv:hover {
    color: #fff;
}