<main class="main-content">
    <!-- content start here -->
    <div class="container"> 
        <div class="row">
            <div class="col-md-3">
                <div class="left">
                    <div class="category">
                        <h1>Quản lý bài đăng</h1>
                        <ul class="list-unstyled">
                            <li>
                                <a id="status_2" (click)="getAllJobPostsByStatus(2)">
                                    <img width="20" src="assets/images/icon-folder.png" class="img-fluid" alt="image"> Bài đăng đã phê duyệt
                                </a>
                            </li>
                            <li>
                                <a id="status_1" (click)="getAllJobPostsByStatus(1)">
                                    <img width="20" src="assets/images/icon-folder.png" class="img-fluid" alt="image"> Bài đăng chờ phê duyệt
                                </a>
                            </li>
                            <li>
                                <a id="status_3" (click)="getAllJobPostsByStatus(3)">
                                    <img width="20" src="assets/images/icon-folder.png" class="img-fluid" alt="image"> Bài đăng bị từ chối
                                </a>
                            </li>
                            <li>
                                <a id="status_4" (click)="getAllJobPostsByStatus(4)">
                                    <img width="20" src="assets/images/icon-folder.png" class="img-fluid" alt="image"> Bài đăng đã hết hạn
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class=" col-md-9 padd0 catebox">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Mã bài đăng</th>
                                            <th class="text-center">Tên bài đăng</th>
                                            <th class="text-center">Ngày tạo</th>
                                            <th class="text-center">Ngày hết hạn</th>
                                            <th class="text-center">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr [class]="(i%2==0) ? 'odd' : 'even'" *ngFor="let jobPost of jobPosts; let i = index">
                                            <td>{{ jobPost?.jobCode }}</td>
                                            <td>{{ jobPost?.jobTitle }}</td>
                                            <td>{{ jobPost?.createPostTime }}</td>
                                            <td>{{ jobPost?.expirePostTime }}</td>
                                            <td class="text-center">
                                                <a [routerLink]="['/employer/manage-apply', jobPost?.jobPostId]"  class="text-info row-action" title="Xem thông tin bài đăng">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                                <a (click)="deleteJobPost(jobPost?.jobPostId)" class="text-red row-action" title="xóa bài đăng">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>	
            
        </div>
    </div>
    <!-- content end here -->
</main>