<div class="col-xs-12 main-content">
    <div class="col-md-2 text-center">
        <img src="https://static.careerbuilder.vn/themes/kiemviecv32/jobseekers/images/icons/avatar_120x160.png" width="135" height="135">
        <div><a href="#" class="avartar">Cập nhật ảnh</a></div>
    </div>
    <div class="col-md-3 infoProfile">
        <h4 class="title">le khai</h4>
        <p>Chưa có kinh nghiệm</p>
        <p>Cấp bậc mong muốn: <span class="text-red">Chưa cập nhật</span></p>
        <p>Mức lương mong muốn: <span class="text-red">Chưa cập nhật</span></p>
        <p>Mức độ hoàn thành: <span class="text-red">Chưa Hoàn Tất</span></p>
    </div>
    <div class="col-md-6">
        <div class="statusCV">
            <div class="col-md-12">
                <div class="col-sm-3">
                    <img src="https://static.careerbuilder.vn/themes/cv_tool/images/template/thumb_template03_1540959078.png" class="img-responsive img-template" width="80">
                </div>
                <div class="col-sm-7">
                    <p>Ngày cập nhật: 
                        <span class="update-date">30/09/2020</span> 
                        <span class="refesh-resume">
                            &nbsp;
                            <i class="fa fa-refresh"></i>
                        </span>
                    </p>
                    <p class="links">
                        <a href="javascript:void(0);" [routerLink]="['/candidate/view-cv']">Xem hồ sơ</a>
                        <a href="javascript:void(0);" [routerLink]="['/candidate/make-cv']">Chỉnh sửa hồ sơ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>