.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
    top: -4px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
input:checked + .slider {
    background-color: #FED700;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #FED700;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 150px;
}
  
.statusCV {
    display: flex;
    flex-direction: row;
}

.infoProfile .title {
    font-size: 18px;
    font-weight: bold;
}

.infoProfile span {
    font-weight: bold;
}

.avartar {
    font-size: 12px;
    padding: 3px 5px;
    color: #777;
    font-style: italic;
}

.statusSearch {
    font-style: italic;
}

.links a {
    display: block;
    margin: 5px 0;
}