<div class="col-xs-12">
  <div class="row main-content">
    <div class="col-md-12">
      <div class="col-md-3">
        <img id="img_mem_avatar" width="120" height="140" [src]="pathAvatar"
          class="profile-photo-edit">
      </div>
      <div class="col-md-9">
          <div class="title">
              <h4 *ngIf="candiateResume?.candidateName == null; else completeCandidateName" class="text-warning">Tên chưa cập nhật</h4>
              <ng-template #completeCandidateName><h4>{{ candiateResume?.candidateName }}</h4></ng-template>
            </div>
          <div>
            <ul class="desired">
                <li><i class="fa fa-star" aria-hidden="true"></i>
                  <p>Số năm kinh nghiệm: <span>{{ (candiateResume?.numYearExperience == 0)? 'chưa có kinh nghiệm': candiateResume?.numYearExperience }}</span></p>
                </li>
                <li><i class="fa fa-user" aria-hidden="true"></i>
                  <p>Vị trí mong muốn: 
                    <span *ngIf="candiateResume?.jobPositionEntity == null; else completePosition" class="text-warning">
                      Chưa cập nhật
                    </span>
                    <ng-template #completePosition><span>{{ candiateResume?.jobPositionEntity?.jobPositionName }}</span></ng-template>
                  </p>
                </li>
                <li><i class="fa fa-money" aria-hidden="true"></i>
                  <p>Mức lương mong muốn: 
                    <span *ngIf="candiateResume?.salaryExpect == 0; else completeSalary">
                        Lương thỏa thuận
                    </span>
                    <ng-template #completeSalary><span>{{ candiateResume?.salaryExpect | currency: "VND" : "symbol" }}</span></ng-template>
                  </p>
                </li>
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="progress-bar-status impressive">
        <div class="profile-strength">
          <p>Mức độ hoàn thành:  
            <span *ngIf="levelComplete < 7 || !isCompleteFieldMandatory" class="text-warning"> Chưa hoàn thành</span>
            <span *ngIf="isCompleteFieldMandatory && (levelComplete == 7 || levelComplete == 8)">Tốt</span>
            <span *ngIf="isCompleteFieldMandatory && levelComplete == 9">Tuyệt vời</span>
        </p>
        </div>
        <div class="notification">
          <span><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
          <p>Vui lòng thêm tất cả các thông tin cần thiết để hoàn thành hồ sơ của bạn. Lưu ý rằng hồ sơ của bạn phải
            được hoàn thành mới có thể ứng tuyển đến nhà tuyển dụng.</p>
        </div>
        <div class="progress-bar-level">
          <div class="progress-row">
            <div id="level-1" class="line"></div>
            <div id="level-2" class="line"></div>
            <div id="level-3" class="line"></div>
            <div id="level-4" class="line"></div>
            <div id="level-5" class="line"></div>
            <div id="level-6" class="line"></div>
            <div id="level-7" class="line"></div>
            <div id="level-8" class="line"></div>
            <div id="level-9" class="line "></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="action-profile">
            <button type="button" class="btn btn-info" [routerLink]="['/candidate/view-cv']">
                <i class="fa fa-eye" aria-hidden="true"></i> Xem hồ sơ</button>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button type="button" class="btn btn-warning" [routerLink]="['/candidate/make-cv']">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Chỉnh sửa hồ sơ</button>
        </div>
    </div>
  </div>
</div>
