<div class="header-modal">
    <h2>Kỹ năng, chuyên môn</h2>
  </div>
  <mat-dialog-content>
    <br>
    <form>
      <div class="col-xs-12 pv-profile-section skill-section">
        <div class="col-xs-12 pv-profile-section-body">
          <div class="row">
            <label class="col-xs-12 col-sm-3">Nhập kỹ năng,<br>chuyên môn <span class="text-red">*</span></label>
            <div class="col-xs-12 col-sm-8">
              <input type="text" value="" class="form-control">
            </div>
          </div>
          <div class="row">
            <label class="col-xs-12 col-sm-3">Mô tả kỹ năng</label>
            <div class="col-xs-12 col-sm-8">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions class="footer-modal">
    <button class="btn btn-default" (click)="close()">Đóng</button>
    <button class="btn btn-success" (click)="save()">Lưu lại</button>
  </mat-dialog-actions>
  