<div class="header-modal">
    <h2>Kỹ năng, chuyên môn</h2>
  </div>
  <mat-dialog-content>
    <br>
    <form>
      <div class="col-xs-12 pv-profile-section skill-section">
        <div class="col-xs-12 pv-profile-section-body">
          <div class="row">
            <label class="col-xs-12 col-sm-3">Nhập kỹ năng, chuyên môn <span class="col_ff0000bold">*</span></label>
            <div class="col-xs-12 col-sm-5">
              <input type="text" name="ipt_skill_name" maxlength="50" value="" class="form-control">
            </div>
          </div>
          <div class="row">
            <label class="col-xs-12 col-sm-3">Mô tả kỹ năng</label>
            <div class="col-xs-12 col-sm-8">
              <textarea name="ipt_skill_content" maxlength="150" class="form-control" rows="3" placeholder="Vui lòng nhập không quá 150 ký tự"></textarea>
            </div>
          </div>
          <div class="row">
            <label class="col-xs-12 col-sm-3">Mức độ</label>
            <div class="col-xs-12 col-sm-8">
              <div id="sliderSkill"><input type="range" min="0" max="5" value="3" data-rangeslider="" name="ipt_skill_level" style="position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;"><div class="rangeslider rangeslider--horizontal" id="js-rangeslider-0"><div class="rangeslider__fill" style="width: 299px;"></div><div class="rangeslider__handle" style="left: 294px;"></div></div> <output>3<span>/5</span></output></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions class="footer-modal">
    <button class="btn btn-default" (click)="close()">Đóng</button>
    <button class="btn btn-success" (click)="save()">Lưu lại</button>
  </mat-dialog-actions>
  