<div class="content">
  <!-- <div class="jd-photos-container">
    <div class="jd-photos" data-index="0"
      style="background-image: url(https://cdn.itviec.com/photos/43663/jd_photo_thumbnail/jd_photo_thumbnail-1567388.jpg?cgv9PQRqKR4Mjs1m1F4hKW5N);">
    </div>
    <div class="jd-photos" data-index="1"
      style="background-image: url(https://cdn.itviec.com/photos/43841/jd_photo_thumbnail/jd_photo_thumbnail-1567471.jpg?te8UCqEqb4jrjJsz7vikZ3en);">
    </div>
    <div class="jd-photos" data-index="2"
      style="background-image: url(https://cdn.itviec.com/photos/43842/jd_photo_thumbnail/jd_photo_thumbnail-1567468.jpg?jQTNMcPQUvhcBPGYYocuSdYo);">
    </div>

  </div> -->

  <div class="main-entity">
    <div class="side_bar col-md-3">
      <div class="inside">
        <div class="logo">
          <a>
            <img [src]="getImage()">
          </a></div>
        <div class="employer-info">
          <h3 class="name">
            <a>{{ jobPost?.employerResumeDTO?.employerName }}</a>
          </h3>
          <div class="basic-info">
            <!-- <div class="short">
              <div style="text-align: left">A software solutions provider and software outsourcing company </div>
            </div> -->
            <div><i class="fa fa-users" aria-hidden="true"></i>{{ jobPost?.employerResumeDTO?.numMember }} thành viên
            </div>
            <div class="working-date">
              <i class="fa fa-calendar"></i>
              <span>
                {{ jobPost?.employerResumeDTO?.workTime }}
              </span>
            </div>
            <div class="overtime">
              <i class="fa fa-clock-o"></i>
              <span>
                Không có OT
              </span>
            </div>
          </div>
        </div>
        <div class="employer-jobs-info">
          <div class="more_jobs">
            <div class="employer-profile links">
              <a [routerLink]="['/introduce-employer', jobPost?.employerResumeDTO?.accountId]">Về chúng tôi</a>
            </div>
          </div>
        </div>
      </div>
      <div class="outside-jr" *ngIf="authService.loggedIn()">
        <div class="saved-wrapper">
          <a class="saved-job" *ngIf="!isSave" (click)="saveJob()">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <div class="saved-text saved-text-default">
              <span class="save_job">Lưu việc làm này</span>
            </div>
          </a>
          <a class="saved-job" *ngIf="isSave" (click)="deleteJobSave()" style="color: red;">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <div class="saved-text saved-text-default">
              <span class="save_job">Đã lưu</span>
            </div>
          </a>
        </div>

      </div>
    </div>

    <div class="job-detail col-md-9">
      <div class="header">
        <div class="job_info">
          <h1 class="job_title">
            {{ jobPost?.jobTitle }}
          </h1>
          <div class="clearfix"></div>
          <div class="address-wrapper">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <div class="address">
              <span>{{ getAddress() }}</span>
            </div>
            <a target="_blank" class="address-map" [href]="'https://www.google.com/maps?q=' + getAddress()">
              Xem bản đồ
            </a>
          </div>
          <div class="address">
            <div class="clearfix"></div>
          </div>
          <div class="expire-time-job">
            <i class="fa fa-calendar"></i>
            Hạn nộp hồ sơ:
            <span style="color: #337ab7;">{{ jobPost?.expirePostTime |date: "dd/MM/yyyy" }}</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="job_description">
        <div class="title-apply-line">
          <h2 class="title">Mô Tả Công Việc</h2>
          <div class="clearfix"></div>
        </div>
        <div class="description">
          
        </div>
      </div>
      <div class="skills_experience">
        <h2 class="title">Yêu Cầu Công Việc</h2>
        <div class="experience">
          
        </div>
      </div>
      <div class="love_working_here">
        <h2 class="title">Thông điệp từ công ty</h2>
        <div class="culture_description">
          <!-- content set by js -->
        </div>
      </div>
      <div class="apply text-center" *ngIf="authService.loggedIn()">
        <a *ngIf="!isApply; else applied" (click)="addjobApply()" class="btn btn-warning">Ứng Tuyển</a>
        <ng-template #applied>
          <span>Đã ứng tuyển</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
