.main-slide {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.job-info {
    margin-top: 15px;
}

.job-info li {
    line-height: 20px;
}

.job-info li i {
    width: 15px;
    text-align: center;
}

.save-job {
    font-style: normal;
    font-weight: 600;
}

.save-job-active {
    color: orangered;
}

.panel-title  {
    margin: 0 !important;
    font: 400 16px/28px Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
}