ul {
    list-style-type: none;
    padding-left: 20px;
}

.cv-top-background {
    background-color: #04a08c;
    height: 110px;
    position: absolute;
    margin-left: -35px;
    width: 105%;
}

.cv-photo-container {
    width: 160px;
    position: relative;
    margin-top: 20px;
}

.avatar-circle {
    border-radius: 49.9%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.3) inset, 0 1.5px 3px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(243, 246, 248, 0.94);
}

.upload-photo {
    position: absolute;
    top: 130px;
    right: 18px;
}

.upload-photo .fileContainer {
    width: 26px;
    height: 26px;
    line-height: 30px;
    background: inherit;
    background-color: #fff;
    border: none;
    border-radius: 100%;
    overflow: inherit;
    padding: 0;
    margin: 0;
    color: #999;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.upload-photo .upload-photo-menu {
    position: absolute;
    right: 0;
    top: 26px;
    z-index: 2;
    min-width: 150px;
    padding: 5px 0;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 5px 10px #999;
    list-style: none;
    display: none;
}

.upload-photo:hover .upload-photo-menu {
    display: block;
}

.upload-photo-menu li a {
    padding: 8px 20px;
    color: #777;
    display: block;
}

.upload-photo-menu li:hover {
    background-color: #e9ebee;
}

.section-notify {
    margin-top: -50px;
}

.card-header h2{
    margin: 0 !important;
}

.box-content {
    padding: 5px 15px;
    font-family: 'segoe ui', sans-serif;
}

.box-content h2 {
    color: #04a08c;
}


.iconheading {
    margin-right: 10px;
}

.record-view {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.box-content .section-body {
    padding: 20px 0;
}

.addtext {
    position: absolute;
    right: 16px;
    font-size: 16px;
    color: #777;
    top: 24px;
}

.addtext:hover {
    text-decoration: underline;
}

.elementscroll {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.elementscroll-fixed {
    position: fixed !important;
    width: 19% !important;
    margin-top: 20px;
    top: 0;
}

.tabmenulinks {
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
}

.tabmenulinks ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabmenulinks ul li {
   cursor: pointer;
}

.tabmenulinks ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.tabmenulinks ul li:hover a{
    color: white;
}

.link-active {
    color: white !important;
}

.tabmenulinks ul li:hover {
    background-color: #04A0A0;
}

.tabmenulink-active {
    background-color: #04a08c;
}

.sticker .list-sticker .item {
    padding: 20px 30px;
    padding-top: 0;
    position: relative;
}

.sticker .list-sticker .item:before {
    z-index: 11;
    position: absolute;
    top: -2px;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #09a0db;
    content: "";
}


.sticker .list-sticker .item .head-sticker {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-sticker .title h4 {
    color: #172642;
    font-weight: bold;
}

.head-sticker .title .sub-title {
    color: #287ab9;
}

.head-sticker .title .date {
    color: #5d677a;
}

.list-action {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -30px;
}

.list-action li {
    position: relative;
    padding: 0 5px;
}

.list-action .edit-link a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #09a0db;
}

.list-action .delete a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    font-size: 13px;
    font-weight: 700;
}

.sticker .list-sticker .item:after {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: calc(100% - 30px);
    transform: translateY(-50%);
    background: #09a0db;
    content: "";
}

.experience-list {
    margin-top: 10px;
}

.list-action i {
    font-size: 20px;
}

.list-infor-reference {
    padding: 0;
    color: #5d677a;
}

.list-infor-reference li i {
    padding-right: 8px;
}

.text-warning {
    color: orangered;
    font-size: 14px;
}

.text-success {
    color: green;
    font-size: 14px;
}