<div class="col-xs-12" id="Step1">
  <div class="col-md-9 panel-content">
    <div class="col-xs-12">
      <div class="col-xs-12 cv-top-background"></div>
      <div class="col-xs-12 ">
        <div class="cv-photo-container">
          <div class="avatar-circle">
            <img id="img_mem_avatar" width="160" height="160"
              src="https://static.careerbuilder.vn/themes/kiemviecv32/jobseekers/images/icons/avatar_120x160.png"
              class="profile-photo-edit">
          </div>
          <div class="upload-photo">
            <label class="fileContainer"><i class="fa fa-edit"></i></label>
            <ul class="upload-photo-menu">
              <li>
                <a href="javascript:void(0);">
                  <i class="fa fa-pencil"></i>
                  Tải hình ảnh
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <i class="fa fa-trash"></i>
                  Xóa hình ảnh
                </a>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <!-- <div class="col-xs-12">
          <div class="col-xs-7 section_info">
            <h1 class="section-name">le khai</h1>
          </div>
          <div class="col-xs-5 section-notify">
            <div class="statusSearch">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                Trạng thái tìm việc đang tắt
            </div>
            <br>
            <div class="statusSearch">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                Cho phép nhà tuyển dụng liên hệ
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-xs-12 box-content" id="self-info-section">
      <header class="card-header">
        <h2 class="card-heading"><span class="iconheading"><i class="fa fa-user"></i></span>Thông tin cá nhân
          <span class="text-red">*</span><span class="check-section text-green">Hoàn thành</span></h2>
      </header>
      <div class="col-xs-12 section-body">
        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Họ Và Tên</label>
          <div class="col-xs-12 col-sm-9">{{ candiateResume?.candidateName }}</div>
        </div>
        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Giới tính</label>
          <div class="col-xs-12 col-sm-9" *ngIf="candiateResume?.sex != null">{{ (candiateResume?.sex == true) ? "Nam" : "Nữ" }}</div>
        </div>
        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Ngày sinh</label>
          <div class="col-xs-12 col-sm-9">{{ candiateResume?.birthday }}</div>
        </div>
        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Điện thoại</label>
          <div class="col-xs-12 col-sm-9">{{ candiateResume?.phone }}</div>
        </div>
        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Email</label>
          <div class="col-xs-12 col-sm-9">{{ candiateResume?.accountDTO?.email }}</div>
        </div>

        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Tỉnh/ Thành phố</label>
          <div class="col-xs-12 col-sm-9">{{ provice?.name }}</div>
        </div>

        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Quận/ Huyện</label>
          <div class="col-xs-12 col-sm-9">{{ district?.name }}</div>
        </div>

        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Xã/ Phường</label>
          <div class="col-xs-12 col-sm-9">{{ ward?.name }}</div>
        </div>

        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Địa chỉ</label>
          <div class="col-xs-12 col-sm-9">{{ candiateResume?.accountDTO?.addressEntity?.street }}</div>
        </div>

        <div class="record-view">
          <a href="javascript:void(0);" class="btn btn-warning" (click)="getSelfInfor()">Chỉnh sửa</a>
        </div>
      </div>
    </div>
    <div class="box-content col-xs-12 job-target" id="target-job-section">
      <header class="card-header">
        <h2 class="card-heading"><span class="iconheading"><i class="fa fa-flag"></i></span>Mục tiêu nghề nghiệp
          <span class="text-red">*</span><span class="check-section text-green"> Hoàn thành</span></h2>
      </header>
      <div class="col-xs-12 section-body">
        <div class="col-xs-12 record-view content-job-target">
          <!-- content job target -->
        </div>
        <div class="record-view">
          <a href="javascript:void(0);" class="btn btn-warning" (click)="getTarget()">Chỉnh sửa</a>
        </div>
      </div>
    </div>
    <div class="box-content col-xs-12" id="job-infor-section">
      <header class="card-header">
        <h2 class="card-heading"><span class="iconheading"><i class="fa fa-briefcase"></i></span>Thông tin công việc
          <span class="text-red">*</span> <span class="check-section text-green"> Hoàn thành</span></h2>
      </header>
      <div class="col-xs-12 section-body">

        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Vị trí mong muốn</label>
          <div class="col-xs-12 col-sm-9">{{ candiateResume?.jobPositionEntity?.jobPositionName }}</div>
        </div>

        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Mức lương mong muốn</label>
          <div class="col-xs-12 col-sm-9">
            {{ candiateResume?.salaryExpect }}
          </div>
        </div>
        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Hình thức làm việc</label>
          <div class="col-xs-12 col-sm-9">{{ candiateResume?.jobTypeEntity?.jobTypeName }}</div>
        </div>
        <div class="record-view">
          <a href="javascript:void(0);" class="btn btn-warning" (click)="getExpectJob()">Chỉnh sửa</a>
        </div>
      </div>
    </div>
    <div class="box-content col-xs-12" id="experience-section">
      <header class="card-header">
        <h2 class="card-heading">
          <span class="iconheading"><i class="fa fa-briefcase"></i></span>
          Kinh nghiệm làm việc
          <span class="text-red">*</span>
          <span class="check-section text-green">Hoàn thành</span>
        </h2>
        <a class="header-add-action addtext" href="javascript:void(0);" (click)="getExperience()">Thêm mới</a>
      </header>
      <div class="col-xs-12 section-body">
        <div class="record-view">
          <label class="col-xs-12 col-sm-3">Số năm kinh nghiệm</label>
          <div class="col-xs-12 col-sm-5">
            <input #numYearExperience type="number" style="margin-right: 20px;" [disabled]="!isChangeNumYearExperience" maxlength="2"
              min="1" max="55" [value]="candiateResume?.numYearExperience">
            <a title="Chỉnh sửa" href="javascript:void(0);" *ngIf="!isChangeNumYearExperience"
              (click)="editNumYearExperience(true)"><i class="fa fa-edit"></i></a>
            <a title="submit" href="javascript:void(0);" *ngIf="isChangeNumYearExperience"
              (click)="editNumYearExperience(false, numYearExperience.value)"><i class="fa fa-check" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="record-view experience-list">
          <div class="sticker">
            <ul class="list-sticker">
              <li class="item" id="expList_1931266">
                <div class="head-sticker">
                  <div class="title">
                    <h4>sadf</h4>
                    <div class="sub-title">
                      <p>ádf</p>
                    </div>
                    <div class="date">
                      <p>1/2020 - Hiện tại</p>
                    </div>
                  </div>
                  <div class="right-head">
                    <ul class="list-action">
                      <li class="edit-link">
                        <a href="javascript:void(0);" title="Chỉnh sửa">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="delete">
                        <a href="javascript:void(0);" title="Xóa">
                          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="body-sticker">
                  <div class="description-content"> ádfdf </div>
                </div>
              </li>
              <li class="item" id="expList_1917482">
                <div class="head-sticker">
                  <div class="title">
                    <h4>asd</h4>
                    <div class="sub-title">
                      <p>asdf</p>
                    </div>
                    <div class="date">
                      <p>1/2005 - Hiện tại</p>
                    </div>
                  </div>
                  <div class="right-head">
                    <ul class="list-action">
                      <li class="edit-link">
                        <a href="javascript:void(0);" title="Chỉnh sửa">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="delete">
                        <a href="javascript:void(0);" title="Xóa">
                          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="body-sticker">
                  <div class="description-content"> asdf </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="box-content col-xs-12" id="education-section">
      <header class="card-header">
        <h2 class="card-heading">
          <span class="iconheading"><i class="fa fa-list"></i></span>
          Học vấn
          <span class="text-red">*</span>
          <span class="check-section text-green">Hoàn thành</span>
        </h2>
        <a class="header-add-action addtext" href="javascript:void(0);" (click)="addEducation()">Thêm mới</a>
      </header>
      <div class="col-xs-12 section-body">
        <div class="sticker">
          <ul class="list-sticker">
            <li class="item" *ngFor="let education of candiateResume?.educationDTOs">
              <div class="head-sticker">
                <div class="title">
                  <h4>{{ education.school }}</h4>
                  <div class="sub-title">
                    <p>{{ (education.degree == true) ? "Đã tốt nghiệp" : "Chưa tốt nghiệp" }}</p>
                  </div>
                  <div class="date">
                    <p>{{ education.degreeTime }}</p>
                  </div>
                </div>
                <div class="right-head">
                  <ul class="list-action">
                    <li class="edit-link">
                      <a href="javascript:void(0);" (click)="editEducation(education.educationId)" title="Chỉnh sửa">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="delete">
                      <a href="javascript:void(0);" (click)="deleteEducation(education.educationId)" title="Xóa">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body-sticker">
                <div class="description-content">{{ education.description }}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-content col-xs-12" id="skill-section">
      <header class="card-header">
        <h2 class="card-heading"><span class="iconheading"><i class="fa fa-list-ul"></i></span>Kỹ năng chuyên môn <span
            class="text-red">*</span><span class="check-section text-green">Hoàn thành</span></h2>
        <a class="header-add-action addtext" href="javascript:void(0);" (click)="getSkill()">Thêm mới</a>
      </header>
      <div class="col-xs-12 section-body">
        <div class="sticker">
          <ul class="list-sticker">
            <li class="item" id="expList_1931266">
              <div class="head-sticker">
                <div class="title">
                  <h4>sadf</h4>
                  <div class="sub-title">
                    <p>ádf</p>
                  </div>
                  <div class="date">
                    <p>1/2020 - Hiện tại</p>
                  </div>
                </div>
                <div class="right-head">
                  <ul class="list-action">
                    <li class="edit-link">
                      <a href="javascript:void(0);" title="Chỉnh sửa">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="delete">
                      <a href="javascript:void(0);" title="Xóa">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body-sticker">
                <div class="description-content"> ádfdf </div>
              </div>
            </li>
            <li class="item" id="expList_1917482">
              <div class="head-sticker">
                <div class="title">
                  <h4>asd</h4>
                  <div class="sub-title">
                    <p>asdf</p>
                  </div>
                  <div class="date">
                    <p>1/2005 - Hiện tại</p>
                  </div>
                </div>
                <div class="right-head">
                  <ul class="list-action">
                    <li class="edit-link">
                      <a href="javascript:void(0);" title="Chỉnh sửa">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="delete">
                      <a href="javascript:void(0);" title="Xóa">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body-sticker">
                <div class="description-content"> asdf </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-content col-xs-12 foreign-language" id="foreign-language-section">
      <header class="card-header">
        <h2 class="card-heading"><span class="iconheading"><i class="fa fa-trophy"></i></span>Ngoại ngữ
          <span class="check-section text-green">Không bắt buộc</span></h2>
      </header>
      <div class="col-xs-12 section-body">
        <div class="record-view content-foreign-language">
          <!-- content foreign-language view -->
        </div>
        <div class="record-view">
          <a href="javascript:void(0);" class="btn btn-warning" (click)="getForeignLanguage()">Chỉnh sửa</a>
        </div>
      </div>
    </div>
    <div class="box-content col-xs-12 job-achievement" id="achievement-section">
      <header class="card-header">
        <h2 class="card-heading"><span class="iconheading"><i class="fa fa-trophy"></i></span>Thành tích nổi bật
          <span class="check-section text-green">Không bắt buộc</span></h2>
      </header>
      <div class="col-xs-12 section-body">
        <div class="record-view content-job-achievement">
          <!-- content job achievment view -->
        </div>
        <div class="record-view">
          <a href="javascript:void(0);" class="btn btn-warning" (click)="getAchievement()">Chỉnh sửa</a>
        </div>
      </div>
    </div>
    <!-- <div class="box-content col-xs-12" id="references-section">
      <header class="card-header">
        <h2 class="card-heading"><span class="iconheading"><i class="fa fa-book"></i></span>Người tham khảo <span
            class="check-section text-green">Không bắt buộc</span></h2>
        <a class="header-add-action addtext" href="javascript:void(0);" (click)="getReferences()">Thêm mới</a>
      </header>
      <div class="col-xs-12 section-body">
        <div class="sticker">
          <ul class="list-sticker">
            <li class="item" id="expList_1931266">
              <div class="head-sticker">
                <div class="title">
                  <h4>sadf</h4>
                </div>
                <div class="right-head">
                  <ul class="list-action">
                    <li class="edit-link">
                      <a href="javascript:void(0);" title="Chỉnh sửa">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="delete">
                      <a href="javascript:void(0);" title="Xóa">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body-sticker">
                <ul class="list-infor-reference">
                  <li>
                    <label><i class="fa fa-user-o" aria-hidden="true"></i>Chức vụ: </label> 
                    asdfffffff
                  </li>
                  <li>
                    <label><i class="fa fa-building-o" aria-hidden="true"></i>Công ty: </label>
                    dddddddd
                  </li>
                  <li>
                    <label><i class="fa fa-phone" aria-hidden="true"></i>Số điện thoại: </label>
                      0123123123
                  </li>
                  <li>
                    <label><i class="fa fa-envelope-o" aria-hidden="true"></i>Email: </label>
                    assssss@dfsfa.dfdasf
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <div class="elementscroll">
      <div class="tabmenulinks">
        <ul>
          <li id="link-self-info-section" class="tabmenulink-active"><a class="link-active"
              [routerLink]="['/candidate/make-cv']" fragment="self-info-section">Thông tin cá nhân</a></li>
          <li id="link-target-job-section"><a [routerLink]="['/candidate/make-cv']" fragment="target-job-section">Mục
              tiêu nghề nghiệp</a></li>
          <li id="link-job-infor-section"><a [routerLink]="['/candidate/make-cv']" fragment="job-infor-section">Thông
              tin công việc</a></li>
          <li id="link-experience-section"><a [routerLink]="['/candidate/make-cv']" fragment="experience-section">Kinh
              nghiệm làm việc</a></li>
          <li id="link-education-section"><a [routerLink]="['/candidate/make-cv']" fragment="education-section">Học
              vấn</a></li>
          <li id="link-skill-section"><a [routerLink]="['/candidate/make-cv']" fragment="skill-section">Kỹ năng chuyên
              môn</a></li>
          <li id="link-foreign-language-section"><a [routerLink]="['/candidate/make-cv']"
              fragment="foreign-language-section">Ngoại ngữ</a></li>
          <li id="link-achievement-section"><a [routerLink]="['/candidate/make-cv']"
              fragment="achievement-section">Thành tích nổi bật</a></li>
          <!-- <li id="link-references-section"><a [routerLink]="['/candidate/make-cv']" fragment="references-section">Người
              tham khảo</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
