<div class="header-modal">
    <h2>Đăng ký</h2>
</div>
<form class="form-auth">
  <mat-dialog-content [formGroup]="form">
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
      <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
      <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
    </div>
    <br>
    <div class="input-group" style="margin: auto;">
      <label class="radio-inline"><input formControlName="role" value="role_candidate" type="radio" name="role">Ứng viên</label>
      <label class="radio-inline"><input formControlName="role" value="role_employer" type="radio" name="role">Nhà tuyển dụng</label>
    </div>
  </mat-dialog-content>
</form>

<mat-dialog-actions class="footer-modal">
    <button class="btn btn-default"(click)="close()">Đóng</button>
    <span>&nbsp;</span>
    <button class="btn btn-success"(click)="save()" [disabled]="form.invalid">Đăng ký</button>
</mat-dialog-actions>
