
<div class="main-slide">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title headline">
            Thay đổi mật khẩu
          </h3>
        </div>
        <div class="panel-body">
            <div class="col-xl-12 page-content">
                <form class="form-horizontal" [formGroup]="form">
                    <div class="row">
                        <label class="col-md-3">Nhập mật khẩu cũ<span class="text-red">*</span></label>
                        <div class="col-md-7">
                            <input type="password" formControlName="oldPassword" class="form-control">
                            <div *ngIf="formControl.oldPassword?.errors 
                                && (formControl.oldPassword?.touched || formControl.oldPassword?.dirty)">
                                <div *ngIf="formControl.oldPassword.errors?.required"  class="text-validate">
                                    Bạn vui lòng nhập vào mật khẩu cũ có dạng chữ cái, số và ký tự đặc biệt.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-3">Nhập mật khẩu mới<span class="text-red">*</span></label>
                        <div class="col-md-7">
                            <input type="password" formControlName="newPassword" class="form-control">
                            <div *ngIf="formControl.newPassword?.errors 
                                && (formControl.newPassword?.touched || formControl.newPassword?.dirty)">
                                <div *ngIf="formControl.newPassword.errors?.required"  class="text-validate">
                                    Bạn vui lòng nhập vào mật khẩu mới có dạng chữ cái, số và ký tự đặc biệt.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-3">Xác nhận lại mật khẩu<span class="text-red">*</span></label>
                        <div class="col-md-7">
                            <input type="password" formControlName="confirmPassword" class="form-control">
                            <div *ngIf="formControl.confirmPassword?.errors 
                                && (formControl.confirmPassword?.touched || formControl.confirmPassword?.dirty)">
                                <div *ngIf="formControl.confirmPassword.errors?.required"  class="text-validate">
                                    Bạn vui lòng nhập vào mật khẩu mới có dạng chữ cái, số và ký tự đặc biệt.
                                </div>
                                <div *ngIf="formControl.confirmPassword.errors?.mustMatch"  class="text-validate">
                                    Mật khẩu không khớp. Bạn vui lòng kiểm tra lại.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row action-job-post">
                        <div class="col-md-12 text-center">
                            <button type="button" [disabled]="form.invalid" (click)="save()" class="btn btn-warning" style="font-weight: bold;">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
</div>