.panel-title  {
    margin: 0 !important;
    font: 400 16px/28px Roboto,"Helvetica Neue",sans-serif;
    font-size: 20px;
}

.main-slide {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.form-horizontal .form-control {
    border-radius: 0 !important;
}