<div class="col-md-12">
  <div class="company-content">
    <div class="company-page">
        <!-- Headline Photo -->
        <div class="cover-images-desktop cover-images-cropped aspect-ratio-box">
          <div class="aspect-ratio-box-inside">
            <img width="100%" height="100%" 
            [src]="(indexImageBanner != -1) ? 
              domainImage + employerResume?.accountDTO?.imageDTOs[indexImageBanner]?.imageName : 'assets/images/default-banner.jpg'">
            <!-- <img width="100%" height="100%" src="https://cdn.itviec.com/photos/45720/processed_headline_photo/viettel-group-tuyen-dung-viec-lam-IT-headline_photo-1512381.jpg?H43eaiySzXeJcgwxGr8DYN29"> -->
            <div class="dropdown edit-banner">
              <a data-toggle="dropdown" href="#" class="btn btn-default">
                <i class="fa fa-camera" aria-hidden="true"></i>
                Chỉnh sửa ảnh bìa
              </a>
              <div class="dropdown-menu">
                <ul class="list-unstyled upload-photo-menu">
                  <li>
                    <label for="banner">
                      <input id="banner" type="file" style="display: none;" accept="image/*" (change)="addBanner($event.target.files)">
                      <i class="fa fa-pencil"></i>
                      Tải hình ảnh
                    </label>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="deleteBanner()">
                      <i class="fa fa-trash"></i>
                      Xóa hình ảnh
                    </a>
                  </li>
                </ul>
              </div>    
            </div>
          </div>
        </div>
        <!-- Header Information -->
        <div class="headers hidden-xs">
          <div class="logo-container">
            <div class="logo top-picture-without-ot">
              <img width="100%" height="100%" 
              [src]="(indexImageLogo != -1) ? 
              domainImage + employerResume?.accountDTO?.imageDTOs[indexImageLogo]?.imageName : 'assets/images/default-logo.png'">
              <span class="edit-logo" data-toggle="dropdown" title="cập nhật logo">
                <i class="fa fa-camera" aria-hidden="true"></i>
              </span>
              <div class="dropdown-menu">
                <ul class="list-unstyled upload-photo-menu">
                  <li>
                    <label for="logo-company">
                      <input id="logo-company" type="file" accept="image/*" style="display: none;" (change)="addLogo($event.target.files)">
                      <i class="fa fa-pencil"></i>
                      Tải hình ảnh
                    </label>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="deleteLogo()">
                      <i class="fa fa-trash"></i>
                      Xóa hình ảnh
                    </a>
                  </li>
                </ul>
              </div>    
            </div>
          </div>
          <div class="name-and-info">
            <h1 class="title">
              {{ employerResume?.employerName }}
            </h1>
            <div class="company-infor">
              <div class="location-company">
                <i class="fa fa-map-marker"></i>
                <span>
                  {{ getAddress() }}
                </span>
              </div>
              <div class="num-member">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span> Thành viên: {{ employerResume?.numMember }}</span>
              </div>
              <div class="working-date">
                <i class="fa fa-calendar"></i>
                <span>
                  {{ employerResume?.workTime }}
                </span>
              </div>
            </div>
          </div>
          <div class="headers__actions text-right">
            <a (click)="getInfor()" class="btn btn-warning">Cập nhật</a>
          </div>
        </div>
    
        <div class="row company-container">
          <div class="col-md-12">
            <!-- <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Hình ảnh hoạt động </h3>
              </div>
              <div class="panel-body">
                <div id="work-reason" class="paragraph">
                  
                </div>
                <button type="button" class="btn btn-warning" (click)="getReason()">Chỉnh sửa</button>
              </div>
            </div> -->

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title headline">
                  Giới thiệu tổng quan
                </h3>
              </div>
              <div class="panel-body">
                <div id="overview" class="paragraph">
                 
                </div>
                <button type="button" class="btn btn-warning" (click)="getOverview()">Chỉnh sửa</button>
              </div>
            </div>
    
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Thông điệp từ công ty</h3>
              </div>
              <div class="panel-body">
                <div id="work-reason" class="paragraph">
                  
                </div>
                <button type="button" class="btn btn-warning" (click)="getReason()">Chỉnh sửa</button>
              </div>
            </div>
          </div>
        </div>
    
      </div>
  </div>
</div>
